body {
  background-color:paleturquoise;
  color: black;
  font-family: 'Lucida Sans';
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
}

.title {
  text-align: center;
  width: 100%;
}

.row {
  width: 20rem;
  margin-bottom: 2rem;
}

.keyboard {
  width: 35rem;
  display: flex;
  flex-wrap: wrap;
}

.keyboard button {
  width: 3rem;
  height: 4rem;
  border-radius: .25rem;
  border: none;
  margin: .25rem;
  color:aliceblue;
  background-color: rgb(34, 12, 77);
}

.keyboard button:nth-child(11) {
  margin-left: 2rem;
}

.keyboard button:nth-child(20),
.keyboard button:nth-child(28) {
  width: 4.5rem;
}

.rows div {
  display: flex;
}

.rows .letter {
  width: 4rem; 
  height: 4rem;
  display: flex;
  border: solid black; 
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin: .1rem;
}