body {
  background-color:paleturquoise;
  color: black;
  font-family: '';
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
}

.title {
  text-align: center;
  width: 100%;
}

.row {
  width: 20rem;
  margin-bottom: 2rem;
}

.letter {
  width: 32rem;
  display: flex;
  flex-wrap: wrap;
}